page-my-policy {


.p-font{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 35px;
}

.menu-height {
	height: 28px;
}

.itemHeight {
	height: 70px;
	 padding-left: 23px;
}
.list-mbottom {
	margin-bottom: 0px;
}
.menu-pleft {
	padding-left: 15px;
}
 
.p-left {
 padding-left: 23px;
 }

 .icon-color {
   color: #666666;
 }

.item-font{
    font-size: 14px;
    font-family: Museo-Sans-500, sans-serif, AA;
}

}
