// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    	#003150,
  secondary: 	#7CA940,
  orange: 		#DF7A00,
  blue: 		#005580,
  light: 		#f5f5f5, 
  gray: 		#777777,
  danger:     	#f53d3d,
  dark:       	#222222,
  white: 		#ffffff

);

.text-font-700 {
    font-family: Museo-Sans-700, sans-serif, AA;
    
}

.text-font-300 {
    font-family: Museo-Sans-300, sans-serif, AA;
}

p {
    font-size: 14px;
    font-family: Museo-Sans-500, sans-serif, AA;
}


.text-bold {
    font-weight: Bold;
}

$toolbar-background:color($colors, primary);

//$menu-md-background:color($colors, primary);

$background-color:color($colors, light);

$list-background-color:color($colors, white);

//$menu-background:color($colors, primary);

//$menu-md-background:color($colors, primary);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
